body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}
nav{
    position:fixed;
    width:100%;
}
a{
    text-decoration:none;
    color:black;
}
.nav-p{
    float:right;
}
nav p{
    display: inline-block;
    margin:20px;
}
.heading{
    float: left;
    margin: 30px;
}

li{
    display: inline-block;
    margin: 0 10px;
}

#about p{
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
    padding-top: 100px;
    margin-bottom:20px;
}
#project{
    margin: auto;
    width:500px;
}
.contact-p{
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
    margin-bottom:20px; 
}

.main-image{
    height: 400px;
    width: 400px;
    position: relative;
    border-radius:20px;
}
.image-container{
    position: relative;
    height: 400px;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}
.image-overlay{
    position: relative;
    height: 400px;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    background-color: hsla(34, 95%, 41%, 0.6);
    opacity: 0;
    transition: opacity 0.25s ease;
    bottom: 407px;
    margin-bottom: -407px;
}
.image-overlay:hover{
    opacity: 1;
}
.view-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    cursor: pointer;
}
.night-mode-button{
    border: none;
}
.morning-mode-button{
    border: none;
    display: none;
}

/*Media Query for mobile devices*/
@media only screen and (max-width: 600px) {
    nav{
        position:relative;
        width:100%;
    }
    nav p{
        display: none;
        float: none;
        margin: 0;
    }
    .main-image{
        height: 300px;
        width: 300px;
        position: relative;
        border-radius:20px;
    }
    .image-container{
        width: 300px;
        border-radius: 20px;
        overflow: hidden;
    }
    .image-overlay{
        height: 400px;
        width: 300px;
        margin: auto;
        border-radius: 20px;
    }
    .view-icon{
        top: 65%;
        left: 50%;
    }
    #about p{
        font-size: 1em;
        line-height: 1.6;
        margin: 0 auto;
        max-width: 300px;
        padding: 0 20px;
        padding-top: 100px;
        margin-bottom:20px;
    }
    #project{
        margin: auto;
        width:300px;
    }
    #services{
        margin: auto;
        width:300px;
    }
}